/* colors */
/*
#fff
#f9f9f9
#d3d3d3
#757575
#202022
*/

/* fonts */
/*
font-family: 'IBM Plex Serif', serif;
font-family: 'Roboto', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Roboto', serif;
  font-size: 1.25rem;
  color: #202022;
  background-color: #f8f8f8;
}

/* nav, */
header,
main,
.footer {
  max-width: 700px;
  margin: 0 auto;
}

main {
  min-height: 80vh;
}

a {
  color: #202022;
}

a:visited,
a:active {
  color: #202022;
}

a:hover {
  color: #757575;
}

h1 {
  font-family: 'Roboto', serif;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Roboto', serif;
}

p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

small {
  font-family: 'Roboto', serif;
}

blockquote {
  margin: 3rem;
  background: #f9f9f9;
  border-left: 10px solid #d3d3d3;
  padding: 20px 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  color: #d3d3d3;
  content: '“';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0;
}

blockquote>p:first-child {
  display: inline;
}

blockquote>∏footer {
  margin-top: 1rem;
}

/* mobile */
@media only screen and (max-width: 750px) {
  main {
    margin: 2rem 1rem;
  }

  blockquote {
    margin: 2rem 0;
  }

  blockquote p {
    font-size: 1rem;
  }
}