/* colors */
/*
#fff
#f9f9f9
#d3d3d3
#757575
#202022
*/

/* fonts */
/*
font-family: 'IBM Plex Serif', serif;
font-family: 'Roboto', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Roboto', serif;
  font-size: 1.25rem;
  color: #202022;
  background-color: #f8f8f8;
}

nav,
main,
.footer {
  max-width: 700px;
  margin: 0 auto;
}

main {
  min-height: 60vh;
}

a {
  color: #202022;
}

a:visited,
a:active {
  color: #202022;
}

.footer {
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-top: 2px solid #757575;
}

.footer p {
  padding: 1rem 0;
  margin: 0;
  font-size: 1rem;
}

.footer a {
  color: #202022;
  text-decoration: none;
}

.top-nav {
  list-style: none;
  margin-top: 4rem;
  padding: 1rem 0;
  font-size: 1.25rem;
  text-align: right;
  border-bottom: 2px solid #757575;
}

.top-nav-item:first-child {
  float: left;
  padding-left: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.top-nav-item {
  display: inline;
  padding: 0 1rem;
}

.top-nav-item:last-child {
  padding-right: 0;
}

.top-nav-item a {
  text-decoration: none;
}

.blog-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.blog-year {
  margin-bottom: 4px;
  font-weight: 700;
}

.blog-list {
  margin-top: 4px;
  padding-left: 0;
  list-style: none;
}

.blog-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.blog-list-item a {
  padding: 2px 0;
  font-weight: 500;
}

.blog-list-item span {
  color: #757575;
  padding: 2px 0;
  min-width: 220px;
}

.contact {
  margin: 4rem 0;
}

.article {
  padding: 0 2px;
}

.article figure {
  margin: 0;
}

.article figure > img {
  height: auto;
  width: auto;
  max-width: 700px;
}

.article h1 {
  font-family: 'Roboto', serif;
  font-size: 2.5rem;
}

.article h2 {
  font-family: 'Roboto', serif;
}

.article p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

.article p a {
  font-weight: 500;
}

small {
  font-family: 'Roboto', serif;
}

blockquote {
  margin: 3rem;
  background: #f9f9f9;
  border-left: 10px solid #d3d3d3;
  padding: 20px 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
  color: #d3d3d3;
  content: '“';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0;
}

blockquote > p:first-child {
  display: inline;
}

blockquote > footer {
  margin-top: 1rem;
}

.share-container {
  margin-top: 4rem;
  border-top: 2px solid #757575;
}

.share-container a {
  font-style: italic;
}

.share-button {
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  color: #202022;
  font-family: 'Roboto', serif;
  font-size: 1.25rem;
  font-style: italic;
  text-decoration: underline;
}

/* mobile */
@media only screen and (max-width: 750px) {
  nav,
  main,
  .footer {
    margin: 0 2rem;
  }

  .top-nav {
    font-size: 1.2rem;
    text-align: left;
  }

  .top-nav-item {
    padding: 0 4px;
  }
  .top-nav-item:first-child {
    float: none;
  }

  .blog-list-item {
    flex-direction: column-reverse;
  }

  blockquote {
    margin: 1rem;
  }
}
