/*
  colors
  #fff
  #d3d3d3
  #808080
  #202022
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;400;500;700&family=Roboto:wght@100;400;700&display=swap');

html,
body {
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
}

body main,
body header,
body .footer {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main,
header,
.footer {
  animation-name: fadeIn;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202022;
  font-family: 'Roboto', serif;
}

a,
a:visited,
a:active {
  font-family: 'Roboto', serif;
  color: #808080;
  text-decoration: none;
}

a:hover {
  color: #202022;
}

header,
.footer,
nav,
main {
  max-width: 700px;
  margin: 0 auto;
}

header,
.footer {
  text-align: center;
  margin: 4em auto;
}

nav {
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
}

nav ul {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

article {
  padding: 2rem 0;
}

article > p {
  font-size: 1.2rem;
  line-height: 1.6;
}

small {
  font-family: 'Roboto', serif;
}

blockquote {
  border-left: 0.25rem solid #d3d3d3;
  font-style: italic;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

img {
  max-width: 700px;
  width: 100%;
  border-radius: 4px;
}

/* figure caption */
img + em {
  font-size: 0.8rem;
  font-weight: 200;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

.article-title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 8px;
}

.article-subtitle {
  font-size: 1.5rem;
  margin-top: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-bottom-0 {
  margin-bottom: 4px;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.columns {
  display: flex;
  align-items: flex-start;
}

.column {
  min-width: 100px;
}

.column:first-of-type {
  margin-right: 2rem;
}

.divider:not(:last-child) {
  border-bottom: 0.1rem solid #d3d3d3;
}

.about {
  border-bottom: 0.1rem solid #d3d3d3;
  padding-bottom: 2rem;
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.4;
}

/* mobile */
@media only screen and (max-width: 600px) {
  header {
    text-align: left;
    margin: 0;
  }

  .about,
  header,
  article {
    padding: 2rem;
  }

  blockquote {
    margin-left: 1rem;
  }

  .columns {
    flex-direction: column;
  }
}
