.profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3rem 1rem;
}

.profile a {
    display: flex;
    align-items: center;
}

.profile>a {
    text-decoration: none;
}

.profile>a:hover {
    color: #202022;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0;
}

.title {
    flex: 1 1 auto;
    margin: 0 0 0 1rem;
}

.title h1,
.title p {
    margin: 0;
}

.links {
    margin: auto 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

/* .tabs {
    font-size: 1.5rem;
    list-style: none;
    margin: 2.25rem 0;
    padding: 0;
    display: flex;
}

.tabs li {
    flex: 1 0 fit-content;
    display: inline-block;
    padding: 0.5rem 0.25rem;
    text-align: center;
    border-bottom: 2px solid #202022;
}

.tabs li:hover>a {
    color: #757575;
} */

.nav {
    text-align: right;
    list-style: none;
}

/* mobile */
@media only screen and (max-width: 750px) {
    .profile,
    .tabs {
        flex-wrap: wrap;
        overflow: hidden;
        margin: 1rem;
        gap: 1rem;
    }

    .image {
        height: 75px;
        width: 75px;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .title p {
        font-size: 0.8rem;
    }
}